# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.CLIENT_SECRET

GOOGLE_MAPS_KEY="AIzaSyDQKUr_YhLIj68pf0CF-XXXX"
CLIENT_ID="XXXX.apps.googleusercontent.com"
CLIENT_SECRET="etIT-IdJaB-XXXX"
REDIRECT_URL="http://localhost:3000/auth/google/callback"

# note: .env is a shell file so there can't be spaces around =
